
<!-- Footer -->
<footer class="bg-light text-center text-lg-start mt-4">
  <div class="container p-4">
    <div class="row">
      <div class="col-lg-12 col-md-12 mb-4 mb-md-0 text-center">
        <h5 class="text-uppercase">Sunny Pet Spa - Pet Spa Grooming & Pet Shop</h5>
        <div>Địa chỉ: 645 CMT8, Phường Long Toàn, Tp. Bà Rịa, BRVT</div>
        <div>Sđt/Zalo/Facebook: 0933054064</div>
        <div>Website: www.SunnyPetSpa.com</div>
        
      </div>
    </div>
  </div>
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2025 Sunny Pet Spa
  </div>
</footer>
